<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:replace="~{/layout/fragments :: documentHeader}"></th:block>
		<link href="/css/member.css" rel="stylesheet">
	</head>
	<body>
	
		<div>
			<th:block th:replace="~{/layout/fragments :: memberHeader}"></th:block>
			
			<main>
				<div class="card card-body mx-auto">
					<ul class="nav nav-tabs">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="/member/find-username">아이디 찾기</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" href="/member/find-password">비밀번호 찾기</a>
						</li>
					</ul>
					
					<form class="find-form">
						<label>
							<input type="radio" name="option" checked />
							<span>휴대전화로 인증</span>
						</label>
						
						<div>
							<input type="text" class="form-control" id="namePhone" name="name" placeholder="이름" required />
							<div class="input-btn-container">
								<input type="tel" id="phone" name="phone" placeholder="전화번호" required />
								<button class="btn">인증 요청</button>
							</div>
							<div class="input-btn-container">
								<input type="text" id="verificationCodePhone" placeholder="인증번호" required />
								<button class="btn">확인</button>
							</div>
						</div>
						
						<label>
							<input type="radio" name="option" />
							<span>이메일로 인증</span>
						</label>
						
						<div>
							<input type="text" class="form-control" id="nameEmail" name="name" placeholder="이름" required />
							<div class="input-btn-container">
								<input type="email" id="email" name="email" placeholder="이메일" required />
								<button class="btn">인증 요청</button>
							</div>
							<div class="input-btn-container">
								<input type="text" id="verificationCodeEmail" placeholder="인증번호" required />
								<button class="btn">확인</button>
							</div>
						</div>
					</form>
				</div>
			</main>
			
			<footer></footer>
		</div>
	
		<th:block th:replace="~{/layout/fragments :: bootstrapJS}"></th:block>
	</body>
</html>