@charset "UTF-8";

/* admin_control */
.icon-button {
	width: 300px;
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 10px;
	background-color: #f8f9fa;
	border: 1px solid #dee2e6;
	border-radius: 8px;
	font-size: 24px;
	color: #495057;
	text-decoration: none;
	transition: background-color 0.3s, color 0.3s;
	box-sizing: border-box;
}

.icon-button i {
	font-size: 48px;
	margin-bottom: 5px;
	margin-right: 20px;
}

.icon-button:hover {
	background-color: #e2e6ea;
	color: #212529;
}

.button-container {
	display: flex;
	flex-direction: row;
	justify-content: center; /* 가로축 가운데 정렬 */
	align-items: center; /* 세로축 가운데 정렬 */
	height: 100vh; /* 컨테이너를 전체 화면 높이로 설정 */
}

@media (max-width: 768px) {
	.icon-button {
		width: 100px;
		height: 100px;
		font-size: 15px;
		flex-direction: column;
	}
	
	.icon-button i {
		font-size: 20px;
		margin-bottom: 5px;
		margin-right: 0px;
	}
	
    .button-container {
    		display: flex;
        flex-direction: column; /* 세로 정렬로 변경 */
        justify-content: center;
        align-items: center; /* 가운데 정렬 유지 */
        height: 100vh;
        padding: 20px; /* 모바일 화면에서의 여백 추가 */
    }
}

/*  */
.header-btn {
	top: 50px;
	position: absolute;
	left: 15px;
}

.title {
	font-size: 30px;
	top: 20px;
	margin-top: 100px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.container {
	margin-top: 200px;
	max-width: 1000px;
	font-size: 16px;
}

.content {
	padding: 20px;
	font-size: 14px;
}

.content table {
	width: 1000px;
	border-collapse: collapse;
	margin: 0 auto;
}

.content table, .content th, .content td {
	border: 1px solid #ddd;
}

.content th, .content td {
	padding: 8px;
	text-align: center;
	font-size: 14px;
}

.content .row {
	font-size: 14px;
}

.content .btn {
	font-size: 13px;
}

.search-form {
	margin-top: 20px;
	text-align: center;
}

.period-btn-group {
	display: flex;
	justify-content: center;
	margin-top: 10px;
	margin-bottom: 20px;
}

.period-btn-group .btn {
	margin: 0 5px;
}

.form-row {
	display: flex;
	justify-content: center;
}

.form-group {
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
	
}

.form-control {
	font-size: 14px;
}

td {
	font-size: 14px;
}

button {
	font-size: 14px;
	border: none;
	background: none;
	cursor: pointer;
	outline: none;
}

button:focus {
	outline: none;
}

button:active {
	border: none;
	outline: none;
}



/* 반응형 디자인 설정 */
@media ( max-width : 768px) {
	
	.content {
        display: flex;
        justify-content: center;
        padding: 0 10px; 
    }
	
	.content table {
        width: 100%; 
        max-width: 350px; 
        font-size: 13px;
        margin: 0 auto;
    }
	
	.content table td,
    .content table th {
        padding: 8px;
        text-align: center;
        font-size: 13px;
    }
 
}


@media only screen and (max-width: 768px) {
    .col-number, .col-type, .col-reporter, .col-resolution-date,
    .col-username, .col-createdDate, .col-modifiedDate {
        display: none !important;
    }
}

