@charset "UTF-8";

.icon-button {
	width: 300px;
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 10px;
	background-color: #f8f9fa;
	border: 1px solid #dee2e6;
	border-radius: 8px;
	font-size: 24px;
	color: #495057;
	text-decoration: none;
	transition: background-color 0.3s, color 0.3s;
	box-sizing: border-box;
}

.icon-button i {
	font-size: 48px;
	margin-bottom: 5px;
}

.icon-button:hover {
	background-color: #e2e6ea;
	color: #212529;
}

.button-container {
	display: flex;
	flex-direction: row;
	justify-content: center; /* 가로축 가운데 정렬 */
	align-items: center; /* 세로축 가운데 정렬 */
	height: 100vh; /* 컨테이너를 전체 화면 높이로 설정 */
}

@media (max-width: 768px) {
	.icon-button {
		width: 100px;
		height: 100px;
		font-size: 15px;
		flex-direction: column;
	}
	
	.icon-button i {
		font-size: 20px;
		margin-bottom: 5px;
	}
	
    .button-container {
    		display: flex;
        flex-direction: column; /* 세로 정렬로 변경 */
        justify-content: center;
        align-items: center; /* 가운데 정렬 유지 */
        height: 100vh;
        padding: 20px; /* 모바일 화면에서의 여백 추가 */
    }
}




