<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>관리자페이지</title>

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<link th:href="@{/css/admin.css}" rel="stylesheet" /> 
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
	
	<div class="header-btn ml-3">
        <a href="/admin/admin_control" class="btn btn-light">
            <i class="material-icons" style="font-size: 30px;">settings</i>
        </a> 
    </div>    
    
    <h1 class="title">회원관리</h1>
  
	<!--  
	<div class="sidebar">
		<button class="toggle-btn">
			<i class="material-icons">arrow_forward</i>
		</button>
		<ul>
			<li><a href="/admin/report_management" class="item"><div>신고내역</div></a></li>
			<li><a href="/admin/member_management" class="item"><div>회원관리</div></a></li>
			<li><a href="/admin/resource_management" class="item"><div>리소스관리</div></a></li>
		</ul>
	</div>
	-->

	<main class="content d-flex justify-content-center">
		<div class="container">
			<div class="search-form">
				<form>
					<div class="mt-3 form-row">
						<div class="form-group col-5 col-md-2">
							<select class="form-control" id="search-category">
								<option value="" disabled selected>회원검색</option>
								<option value="전체">전체</option>
								<option value="닉네임">닉네임</option>
								<option value="아이디">아이디</option>
							</select>
						</div>
						<div class="form-group col-5 col-md-2">
							<select class="form-control" id="search-category">
								<option value="" disabled selected>경고/정지</option>
								<option value="선택안함">선택안함</option>
								<option value="없음">없음</option>
								<option value="경고1회">경고 1회</option>
								<option value="경고2회">경고 2회</option>
								<option value="정지">정지</option>
							</select>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-7 col-md-3">
							<input type="text" class="form-control" id="search-keyword" />
						</div>
						<div class="form-group col-3 col-md-1 d-flex align-items-end">
							<button type="submit" class="btn btn-primary w-100">검색</button>
						</div>
					</div>
				</form>
			</div>
			<table class="table mt-4">
				<thead>
					<tr>
						<th class="col-number">번호</th>
						<th class="col-nickname">닉네임</th>
						<th class="col-username">아이디</th>
						<th class="col-createdDate">가입날짜</th>
						<th class="col-modifiedDate">수정날짜</th>
						<th class="col-penalty">경고/정지</th>
						<th class="col-role">권한</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="col-number">1</td>
						<td class="col-nickname">audiro</td>
						<td class="col-username">audiro</td>
						<td class="col-createdDate">2024-08-01</td>
						<td class="col-modifiedDate">2024-08-01</td>
						<td class="col-penalty" style="text-align: left; display: flex; align-items: center;">
							없음
							<button type="button" class="btn btn-default btn-sm d-flex justify-content-end" style="margin-left: auto;">
								<span class="glyphicon glyphicon-bullhorn"></span>
							</button>
						</td>
						<td class="col-role">관리자</td>
					</tr>
					<tr>
						<td class="col-number">2</td>
						<td class="col-nickname">트립닷컴</td>
						<td class="col-username">comeon</td>
						<td class="col-createdDate">2024-08-01</td>
						<td class="col-modifiedDate">2024-08-03</td>
						<td class="col-penalty" style="text-align: left; display: flex; align-items: center;">
							경고 1회
							<button type="button" class="btn btn-default btn-sm d-flex justify-content-end" style="margin-left: auto;">
								<span class="glyphicon glyphicon-bullhorn"></span>
							</button>
						</td>
						<td class="col-role">일반</td>
					</tr>
				</tbody>
			</table>
		</div>
	</main>

	<!-- <script th:src="@{/js/admin.js}"></script> -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>
</body>
</html>