<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>관리자페이지</title>

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/admin.css" rel="stylesheet">
<!-- <link href="/css/report_management.css" rel="stylesheet"> -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
	<div class="header-container ml-3">
        <a href="/admin/admin_control" class="btn btn-light">
            <i class="material-icons" style="font-size: 30px;">settings</i>
        </a>
        <h1 class="text-center">신고관리</h1>
    </div>
	<!--  
	<div class="sidebar">
		<button class="toggle-btn">
			<i class="material-icons">arrow_forward</i>
		</button>
		<ul>
			<li><a href="/admin/report_management" class="item"><div>신고내역</div></a></li>
			<li><a href="/admin/member_management" class="item"><div>회원관리</div></a></li>
			<li><a href="/admin/resource_management" class="item"><div>리소스관리</div></a></li>
		</ul>
	</div>
	-->

	<main class="content d-flex justify-content-center">
		<div class="container">
			<div class="search-form">
				<form>
					<div class="mt-3 form-row">
						<div class="form-group col-xs-2">
							<select class="form-control" id="search-category">
								<option value="" disabled selected>구분</option>
								<option value="전체">전체</option>
								<option value="글">글</option>
								<option value="댓글">댓글</option>
							</select>
						</div>
						<div class="form-group col-xs-2">
							<select class="form-control" id="search-category">
								<option value="전체">전체</option>
								<option value="신고내용">신고내용</option>
								<option value="신고자">신고자</option>
							</select>
						</div>
						<div class="form-group col-xs-2">
							<select class="form-control" id="search-category">
								<option value="" disabled selected>처리여부</option>
								<option value="전체">전체</option>
								<option value="미처리">미처리</option>
								<option value="처리완료">처리완료</option>
							</select>
						</div>
						<div class="form-group col-xs-3">
							<input type="text" class="form-control" id="search-keyword" />
						</div>
						<div class="form-group col-xs-2 d-flex align-items-end">
							<button type="submit" class="btn btn-primary">검색</button>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-xs-3 d-flex align-items-center">
							<input type="date" class="form-control" id="search-date-from">
						</div>
						<div
							class="form-group col-xs-0 d-flex align-items-center justify-content-center mt-2">
							<span>~</span>
						</div>
						<div class="form-group col-xs-3 d-flex align-items-center">
							<input type="date" class="form-control" id="search-date-to">
						</div>
						
					</div>
					<div class="period-btn-group">
						<button type="button" class="btn btn-secondary">1주일</button>
						<button type="button" class="btn btn-secondary">1개월</button>
						<button type="button" class="btn btn-secondary">3개월</button>
						<button type="button" class="btn btn-secondary">6개월</button>
					</div>
				</form>
			</div>

			<table class="table mt-4">
				<thead>
					<tr>
						<th class="col-number">번호</th>
						<th class="col-date">작성일</th>
						<th class="col-type">구분</th>
						<th class="col-content">신고내용</th>
						<th class="col-reporter">신고자</th>
						<th class="col-resolution-date">처리일</th>
						<th class="col-status">처리여부</th>
						<th class="col-management">관리</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="col-number">1</td>
						<td class="col-date">2024-08-01</td>
						<td class="col-type">글</td>
						<td class="col-content">광고성 글입니다.</td>
						<td class="col-reporter">홍길동</td>
						<td class="col-resolution-date">2024-08-01</td>
						<td class="col-status">처리완료</td>
						<td class="col-management">
							<button style="font-size:20px; border:none; background:none; cursor:pointer;">
								<i class="fa fa-trash-o"></i>
							</button>
						</td>
					</tr>
					<tr>
						<td class="col-number">2</td>
						<td class="col-date">2024-08-05</td>
						<td class="col-type">댓글</td>
						<td class="col-content">
							<button style="font-size:14px;" class="btn btn-outline-primary">
								보기
							</button>
						</td>
						<td class="col-reporter">홍길동</td>
						<td class="col-resolution-date"></td>
						<td class="col-status">미처리</td>
						<td class="col-management">
							<button style="font-size:14px;" class="btn btn-outline-primary">
								삭제
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</main>


	<!-- <script th:src="@{/js/admin.js}"></script> --> 
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>
</body>
</html>