<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="/css/fragments.css">
	<th:block th:replace="~{/layout/fragments :: documentHeader}"></th:block>
</head>
<body>

   <th:block th:replace="~{/layout/fragments :: pageHeader}"></th:block>
   
   <div class="test-container">
   	  <img src="/images/home-main.jpg" >
   </div>  
   
   <th:block th:replace="~{/layout/fragments :: bootstrapJS}"></th:block>
   <th:block th:replace="~{/layout/fragments :: footerContents}"></th:block>
   <th:block th:replace="~{/layout/fragments :: footerMenubar}"></th:block>
</body>
</html>